@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
/* variables */
:root {
  --blue: hsl(223, 87%, 63%);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --main-font: "Libre Franklin", sans-serif;
}
/* general */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--main-font);
  font-size: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  padding-top: 160px;
}
/* launch soon section */
.launch-soon img {
  width: 4rem;
  padding-bottom: 30px;
}
.launch-soon h1 {
  font-weight: 300;
  color: var(--gray);
  font-size: 1.5rem;
  padding-bottom: 20px;
}
.launch-soon span {
  color: var(--very-dark-blue);
  font-weight: 700;
}
.launch-soon p {
  font-size: 14px;
  padding-bottom: 30px;
}

/*  notify form section */

.notify {
  padding: 0 0px 30px 0px;
  width: 80%;
}
#notifyForm {
  display: flex;
  flex-direction: column;
}
#email,
#submitForm {
  padding: 14px 25px;
  margin-bottom: 8px;
  border: none;
  border-radius: 20px;
  border: 1px solid;
  font-size: 16px;
}
#email {
  border-color: var(--pale-blue);
}
#submitForm {
  border-color: var(--blue);
  font-size: 14px;
  font-weight: 600;
  margin-top: 4px;
  color: #fff;
  background-color: var(--blue);
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 8px 10px 0 rgba(0, 0, 0, 0.15);
  letter-spacing: 1px;
}
.error-email {
  font-size: 12px;
  color: var(--light-red);
  margin-bottom: 25px;
  font-style: italic;
}
.hidden {
  display: none;
}
/* promo section */
.promo {
  padding: 40px 20px 100px 20px;
}

.promo img {
  width: 100%;
}
/* footer */

.social-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.social-links li {
  margin: 0 10px;
}

.social-links i {
  font-size: 1rem;
  border-radius: 50%;
  color: var(--blue);
  border: 1px solid var(--pale-blue);
  line-height: 2em;
  width: 2em;
  height: 2em;
  text-align: center;
}
footer p {
  font-size: 12px;
  color: var(--gray);
  padding-bottom: 40px;
}

/* Desktop media queries */

@media (min-width: 768px) {
  .wrapper {
    padding-top: 0;
  }
  .launch-soon h1 {
    font-size: 3rem;
  }
  .launch-soon img {
    width: 6rem;
  }
  .launch-soon p {
    font-size: 18px;
    padding-bottom: 40px;
  }
  .notify {
    width: calc(100% - 40px);
    padding-bottom: 10px;
  }
  #notifyForm {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #email {
    margin-right: 14px;
    order: 1;
    flex: 5 1 0;
  }
  #submitForm {
    margin-top: 0;
    order: 2;
    flex: 2 1 0;
  }
  .error-email {
    order: 3;
    padding-left: 24px;
    text-align: left;
    flex: 1 1 100%;
  }
}
